{% extends "base.html" %}

{% block header %}
            <h1 class="m-0">Scoreboard Inputs / Outputs</h1>
Things that influence how the board operates
{% endblock %}

{%block content %}
<form method="POST" action="/sbio">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">

<div class="card">
              <div class="card-header">
                <h3 class="card-title">Dimmer</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
<div class="row">
<div class="col-sm-6">
<dl class="row">
<dt class="col-sm-4">Enabled</dt>
<dd class="col-sm-8">
<select class="form-control" name="dimmer_enabled">
<option value="1" {% if data["sbio"]["dimmer"]["enabled"] == true %}selected{% endif %}>Yes</option>
<option value="0" {% if data["sbio"]["dimmer"]["enabled"] == false %}selected{% endif %}>No</option>
</select>
<small>Enable the dimmer?</small><br/><br/>
</dd>

  <dt class="col-sm-4">Daytime</dt>
  <dd class="col-sm-8">
<select class="form-control" name="dimmer_daytime">
{% for i in range(24) %}
<option value="{{i}}:00" {% if data["sbio"]["dimmer"]["daytime"] == (i|string + ":00") %}selected{% endif %}>
        {% if i < 12 %}
                {% if i == 0 %}12{% else %}{{i}}{% endif %}AM
        {% else %}
                {% if i == 12 %}12{% else %}{{i-12}}{% endif %}PM
        {% endif %}
</option>
{% endfor %}
</select>
<small>When is day time?</small><br/><br/>
  </dd>

<dt class="col-sm-4">Nighttime</dt>
<dd class="col-sm-8">
<select class="form-control" name="dimmer_nighttime">
{% for i in range(24) %}
<option value="{{i}}:00" {% if data["sbio"]["dimmer"]["nighttime"] == (i|string + ":00") %}selected{% endif %}>
        {% if i < 12 %}
                {% if i == 0 %}12{% else %}{{i}}{% endif %}AM
        {% else %}
                {% if i == 12 %}12{% else %}{{i-12}}{% endif %}PM
        {% endif %}
</option>
{% endfor %}
                        </select>
<small>When is night time?</small><br/><br/>
</dd>
</dl>
</div>

<div class="col-sm-6">
<dl class="row">

  <dt class="col-sm-4">Mode</dt>
  <dd class="col-sm-8">
<select class="form-control" name="dimmer_mode">
                          <option value="always" {% if data["sbio"]["dimmer"]["mode"] == "always" %}selected{% endif %}>Always</option>
                          <option value="offday" {% if data["sbio"]["dimmer"]["mode"] == "offday" %}selected{% endif %}>Off-Day</option>
                        </select>
<small>Mode at which the dimmer will operate. If set at "always", the dimmer will operate at all time. at "offday", it will operate only when your preferred teams don't play any game</small><br/><br/>
</dd>

<dt class="col-sm-4">Sunrise Brightness</dt>
<dd class="col-sm-8">
<select class="form-control" name="sunrise_brightness">
<option value="0" {% if data["sbio"]["dimmer"]["sunrise_brightness"] == 0 %}selected{% endif %}>0 - Off</option>
<option value="1" {% if data["sbio"]["dimmer"]["sunrise_brightness"] == 1 %}selected{% endif %}>1 - Very Low</option>
<option value="5" {% if data["sbio"]["dimmer"]["sunrise_brightness"] == 5 %}selected{% endif %}>5 - Low</option>
<option value="10" {% if data["sbio"]["dimmer"]["sunrise_brightness"] == 10 %}selected{% endif %}>10</option>
<option value="15" {% if data["sbio"]["dimmer"]["sunrise_brightness"] == 15 %}selected{% endif %}>15</option>
<option value="20" {% if data["sbio"]["dimmer"]["sunrise_brightness"] == 20 %}selected{% endif %}>20 - Medium</option>
<option value="25" {% if data["sbio"]["dimmer"]["sunrise_brightness"] == 25 %}selected{% endif %}>25</option>
<option value="30" {% if data["sbio"]["dimmer"]["sunrise_brightness"] == 30 %}selected{% endif %}>30</option>
<option value="35" {% if data["sbio"]["dimmer"]["sunrise_brightness"] == 35 %}selected{% endif %}>35 - High</option>
</select>
<small>What do you want as the brightness during the day?</small><br/>
</dd>

<dt class="col-sm-4">Sunset Brightness</dt>
<dd class="col-sm-8">
<select class="form-control" name="sunset_brightness">
<option value="0" {% if data["sbio"]["dimmer"]["sunset_brightness"] == 0 %}selected{% endif %}>0 - Off</option>
<option value="1" {% if data["sbio"]["dimmer"]["sunset_brightness"] == 1 %}selected{% endif %}>1 - Very Low</option>
<option value="5" {% if data["sbio"]["dimmer"]["sunset_brightness"] == 5 %}selected{% endif %}>5 - Low</option>
<option value="10" {% if data["sbio"]["dimmer"]["sunset_brightness"] == 10 %}selected{% endif %}>10</option>
<option value="15" {% if data["sbio"]["dimmer"]["sunset_brightness"] == 15 %}selected{% endif %}>15</option>
<option value="20" {% if data["sbio"]["dimmer"]["sunset_brightness"] == 20 %}selected{% endif %}>20 - Medium</option>
<option value="25" {% if data["sbio"]["dimmer"]["sunset_brightness"] == 25 %}selected{% endif %}>25</option>
<option value="30" {% if data["sbio"]["dimmer"]["sunset_brightness"] == 30 %}selected{% endif %}>30</option>
<option value="35" {% if data["sbio"]["dimmer"]["sunset_brightness"] == 35 %}selected{% endif %}>35 - High</option>
</select>
<small>What do you want as the brightness during the night?</small><br/>
</dd>

</dl>
</div>
</div></div>
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
<button type="submit" class="btn btn-primary">Save</button>
<button type="submit" class="btn btn-info">Save & Apply</button>
      </div><!-- /.container-fluid -->
</form>
{% endblock %}
