{% extends "base.html" %}
{% block header %}
<h1 class="m-0">Board States</h1>
Configure the rotation of your boards based on the board state (<a href="https://github.com/riffnshred/nhl-led-scoreboard/tree/dev#states-1" target="_blank">Learn more</a>)
{% endblock %}

{% block content %}
<form method="POST">

	<div class="container-fluid">
		<!-- Main row -->
		<div class="row">
			<!-- Left col -->
			<section class="col-lg-6 connectedSortable">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Off-Day</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<div id="box" class="ui-sortable" style="display: block;">
						</div>
						<button type="button" class="btn btn-sm btn-primary add-button">+</button>
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Pre-Game</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<select class="form-control">
						</select>
						<a href="">+ Add</a>
					</div>
				</div>

			</section>
			<!-- /.Left col -->
			<!-- right col (We are only adding the ID to make the widgets sortable)-->
			<section class="col-lg-6 connectedSortable">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Intermission</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<select class="form-control"></select>
						<a href="">+ Add</a>
					</div>
				</div>

				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Post-Game</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<select class="form-control"></select>
						<a href="">+ Add</a>
					</div>
				</div>

			</section>
	<!-- right col -->
<!--	</div>-->
	<!-- /.row (main row) -->
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="submit" class="btn btn-info">Save & Apply</button>
</div><!-- /.container-fluid -->
</form>

<div id="board_list_template">
<div class="leg row">
<div class="col-9">
<select class="form-control" name="offday_boards[]">
{% for board in boards %}
<option>{{ board }}</option>
{% endfor %}
</select>
</div>
<div class="col-3">
<button type="button" class="btn btn-sm btn-info up-button">Up</button>
<button type="button" class="btn btn-sm btn-info down-button">Down</button>
<button type="button" class="btn btn-sm btn-info remove-button">Remove</button>
</div>
 </div>
</div>
{% endblock %}

{% block footer %}
<script>
$('.up-button').click(function(){
$(this).parents('.leg').insertBefore($(this).parents('.leg').prev());
});

$('.down-button').click(function(){
$(this).parents('.leg').insertAfter($(this).parents('.leg').next());
});

$('.remove-button').click(function(){
$(this).parents('.leg').remove();
});

$('.add-button').click(function(){
$("#board_list_template").innerHTML.appendTo($(this).parent());
});
</script>
{% endblock %}
