{% extends "base.html" %}

{% block header %}
            <h1 class="m-0">Scoreboard Inputs / Outputs</h1>
Things that influence how the board operates
{% endblock %}

{%block content %}
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">

<div class="card">
              <div class="card-header">
                <h3 class="card-title">Dimmer</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
<div class="row">
<div class="col-sm-6">
<dl class="row">
<dt class="col-sm-4">Enabled</dt>
<dd class="col-sm-8">
<select class="form-control" name="dimmer_enabled">
<option value="1">Yes</option>
<option value="0">No</option>
</select>
<small>When do we show goal animations?</small><br/><br/>
</dd>

  <dt class="col-sm-4">Daytime</dt>
  <dd class="col-sm-8">
<select class="form-control" name="dimmer_daytime">
{% for i in range(24) %}
<option value="{{i}}:00" {% if data["sbio"]["dimmer"]["daytime"] == (i|string + ":00") %}selected{% endif %}>
        {% if i < 12 %}
                {% if i == 0 %}12{% else %}{{i}}{% endif %}AM
        {% else %}
                {% if i == 12 %}12{% else %}{{i-12}}{% endif %}PM
        {% endif %}
</option>
{% endfor %}
</select>
<small>How often does the board refresh?</small><br/><br/>
  </dd>

<dt class="col-sm-4">Nighttime</dt>
<dd class="col-sm-8">
<select class="form-control" name="dimmer_nighttime">
{% for i in range(24) %}
<option value="{{i}}:00" {% if data["sbio"]["dimmer"]["nighttime"] == (i|string + ":00") %}selected{% endif %}>
        {% if i < 12 %}
                {% if i == 0 %}12{% else %}{{i}}{% endif %}AM
        {% else %}
                {% if i == 12 %}12{% else %}{{i-12}}{% endif %}PM
        {% endif %}
</option>
{% endfor %}
                        </select>
<small>How often do we show shots on goal?</small><br/><br/>
</dd>
</dl>
</div>

<div class="col-sm-6">
<dl class="row">

  <dt class="col-sm-4">Mode</dt>
  <dd class="col-sm-8">
<select class="form-control" name="dimmer_mode">
                          <option value="always">Always</option>
                          <option value="offday">Off-Day</option>
                        </select>
<small>When do we start showing the day's games?</small><br/><br/>
</dd>

<dt class="col-sm-4">Sunrise Brightness</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 5</option>
<option>option 5</option>
<option>option 5</option>
<option>option 5</option>
<option>option 5</option>
<option>option 5</option>
<option>option 5</option>
<option>option 5</option>
</select>
<small>Where are you? Enter your City name</small><br/>
</dd>

<dt class="col-sm-4">Sunset Brightness</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 5</option>
</select>
<small>Where are you? Enter your City name</small><br/>
</dd>

</dl>
</div>
</div></div>
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
<button type="submit" class="btn btn-primary">Save</button>
<button type="submit" class="btn btn-info">Save & Apply</button>
      </div><!-- /.container-fluid -->

{% endblock %}
