{% extends "base.html" %}

{% block header %}
<h1 class="m-0">Preferences</h1>
Things you like, such as your fave teams.
{% endblock %}


{% block content %}

<form method="POST" action="/prefs">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6 connectedSortable">

<div class="card">
              <div class="card-header">
                <h3 class="card-title">General</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

<dl class="row">

<dt class="col-sm-4">Goal Animations</dt>
<dd class="col-sm-8">
<select class="form-control" name="goal_animations">
<option value="1" {% if data["preferences"]["goal_animations"]["pref_team_only"] == true %}selected{% endif %}>Preferred Team Only</option>
<option value="0" {% if data["preferences"]["goal_animations"]["pref_team_only"] == false %}selected{% endif %}>All Goals</option>
</select>
<small>When do we show goal animations?</small><br/><br/>
</dd>

  <dt class="col-sm-4">Live Mode</dt>
  <dd class="col-sm-8">

<select class="form-control" name="live_mode">
<option value="1" {% if data["live_mode"] == true %}selected{% endif %}>Enabled</option>
<option value="0" {% if data["live_mode"] == false %}selected{% endif %}>Disabled</option>
</select>

<small>Will we show the live score on the board?</small><br/><br/>
</dd>

  <dt class="col-sm-4">Live Mode Refresh Rate</dt>
  <dd class="col-sm-8">
<select class="form-control" name="live_game_refresh_rate">
<option value="10" {% if data["preferences"]["live_game_refresh_rate"] == 10 %}selected{% endif %}>Every 10 seconds</option>
<option value="15" {% if data["preferences"]["live_game_refresh_rate"] == 15 %}selected{% endif %}>Every 15 seconds</option>
<option value="20" {% if data["preferences"]["live_game_refresh_rate"] == 20 %}selected{% endif %}>Every 20 seconds</option>
<option value="25" {% if data["preferences"]["live_game_refresh_rate"] == 25 %}selected{% endif %}>Every 25 seconds</option>
<option value="30" {% if data["preferences"]["live_game_refresh_rate"] == 30 %}selected{% endif %}>Every 30 seconds</option>
<option value="45" {% if data["preferences"]["live_game_refresh_rate"] == 45 %}selected{% endif %}>Every 45 seconds</option>
<option value="60" {% if data["preferences"]["live_game_refresh_rate"] == 60 %}selected{% endif %}>Every 60 seconds</option>
</select>
<small>How often does the board poll for new game data?</small><br/><br/>
  </dd>

<dt class="col-sm-4">Shots on Goal Frequency</dt>
<dd class="col-sm-8">
<select class="form-control" name="sog_display_frequency">
<option value="2" {% if data["preferences"]["sog_display_frequency"] == 2 %}selected{% endif %}>Every 2 polls</option>
<option value="4" {% if data["preferences"]["sog_display_frequency"] == 4 %}selected{% endif %}>Every 4 polls</option>
<option value="6" {% if data["preferences"]["sog_display_frequency"] == 6 %}selected{% endif %}>Every 6 polls</option>
<option value="8" {% if data["preferences"]["sog_display_frequency"] == 8 %}selected{% endif %}>Every 8 polls</option>
<option value="10" {% if data["preferences"]["sog_display_frequency"] == 10 %}selected{% endif %}>Every 10 pools</option>
                        </select>
<small>How often do we show shots on goal? (per data refresh)</small><br/><br/>
</dd>

  <dt class="col-sm-4">Time Format</dt>
  <dd class="col-sm-8">
<select class="form-control" name="time_format">
<option value="12h" {% if data["preferences"]["time_format"] == "12h" %}selected{% endif %}>12h</option>
<option value="24h" {% if data["preferences"]["time_format"] == "24h" %}selected{% endif %}>24h</option>
</select>
<small>How will the time look? Army time or civilian time?</small><br/><br/>
</dd>

  <dt class="col-sm-4">End of Day</dt>
  <dd class="col-sm-8">
<select class="form-control" name="end_of_day">
<!-- {{ data["preferences"]["end_of_day"] }} -->
{% for i in range(20) %}
<option value="{{i}}:00" {% if data["preferences"]["end_of_day"] == (i|string + ":00") %}selected{% endif %}>
	{% if i < 12 %}
		{% if i == 0 %}12{% else %}{{i}}{% endif %}AM
	{% else %}
		{% if i == 12 %}12{% else %}{{i-12}}{% endif %}PM
	{% endif %}
</option>
{% endfor %}
                        </select>
<small>When do we start showing the day's games?</small><br/><br/>
</dd>

<dt class="col-sm-4">Location</dt>
<dd class="col-sm-8">
<input type="text" name="location" class="form-control" placeholder="Enter ..." value="{{data["preferences"]["location"] }}">
<small>Where are you? Enter your City name</small><br/>
</dd>
</dl>

</div></div>
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-6 connectedSortable">

<div class="card">
              <div class="card-header">
                <h3 class="card-title">Teams</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

<div class="row">

{% for team in teams %}
<div class="form-check col-4" style="padding-bottom: 5px;">
<input class="form-check-input" type="checkbox" name="teams[]" value="{{ team }}" id="teams[{{ team }}]" {% if (team in data["preferences"]["teams"]) %}checked{% endif %}>
<label class="form-check-label">{{ team }}</label>
</div>
{% endfor %}

</div></div>
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
<button type="submit" class="btn btn-primary">Save</button>
<button type="submit" class="btn btn-info">Save & Apply</button>
      </div><!-- /.container-fluid -->

</form>
{% endblock %}

{% block footer %}
{% endblock %}
