{% extends "base.html" %}

{% block header %}
<h1 class="m-0">Preferences</h1>
Things you like, such as your fave teams.
{% endblock %}


{% block content %}
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6 connectedSortable">

<div class="card">
              <div class="card-header">
                <h3 class="card-title">General</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

<dl class="row">

<dt class="col-sm-4">Goal Animations</dt>
<dd class="col-sm-8">
<select class="form-control" name=pref_team_only>
<option value=1>Preferred Team Only</option>
<option value=0>All Goals</option>
</select>
<small>When do we show goal animations?</small><br/><br/>
</dd>

  <dt class="col-sm-4">Live Mode</dt>
  <dd class="col-sm-8">

<select class="form-control" name=live_mode>
                          <option value=1>Enabled</option>
                          <option value=0>Disabled</option>
                        </select>

<small>Will we show the live score on the board?</small><br/><br/>
</dd>

  <dt class="col-sm-4">Live Mode Refresh Rate</dt>
  <dd class="col-sm-8">
<select class="form-control" name=live_mode_refresh_rate>
<option value=10>Every 10 seconds</option>
<option value=15>Every 15 seconds</option>
<option value=20>Every 20 seconds</option>
<option value=25>Every 25 seconds</option>
<option value=30>Every 30 seconds</option>
<option value=45>Every 45 seconds</option>
<option value=60>Every 60 seconds</option>
</select>
<small>How often does the board refresh?</small><br/><br/>
  </dd>

<dt class="col-sm-4">Shots on Goal Frequency</dt>
<dd class="col-sm-8">
<select class="form-control" name=sog_freq>
<option value=2>Every 2 refreshes</option>
<option value=4>Every 4 refreshes</option>
<option value=6>Every 6 refreshes</option>
<option value=8>Every 8 refreshes</option>
<option value=10>Every 10 refreshes</option>
                        </select>
<small>How often do we show shots on goal? (per data refresh)</small><br/><br/>
</dd>

  <dt class="col-sm-4">Time Format</dt>
  <dd class="col-sm-8">
<select class="form-control" name=time_format>
                          <option value=12>12h</option>
                          <option value=24>24h</option>
                        </select>
<small>How will the time look? Army time or civilian time?</small><br/><br/>
</dd>

  <dt class="col-sm-4">End of Day</dt>
  <dd class="col-sm-8">
<select class="form-control" name="end_of_day">

{% for i in range(20) %}
<option value="{{'%02d' % i}}:00">
	{% if i < 12 %}
		{% if i == 0 %}12{% else %}{{i}}{% endif %}AM
	{% else %}
		{% if i == 12 %}12{% else %}{{i-12}}{% endif %}PM
	{% endif %}
</option>
{% endfor %}
                        </select>
<small>When do we start showing the day's games?</small><br/><br/>
</dd>

<dt class="col-sm-4">Location</dt>
<dd class="col-sm-8">
<input type="text" class="form-control" placeholder="Enter ...">
<small>Where are you? Enter your City name</small><br/>
</dd>
</dl>

</div></div>
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-6 connectedSortable">

<div class="card">
              <div class="card-header">
                <h3 class="card-title">Teams</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

<div class="row">

{% for team in teams %}
<div class="form-check col-4">
<input class="form-check-input" type="checkbox" name="">
<label class="form-check-label">{{ team }}</label>
</div><br/><br/>
{% endfor %}

</div></div>
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
<button type="submit" class="btn btn-primary">Save</button>
<button type="submit" class="btn btn-info">Save & Apply</button>
      </div><!-- /.container-fluid -->


{% endblock %}
