{% from "macros.html" import board_org with context %}
{% extends "base.html" %}
{% block header %}
<h1 class="m-0">Board States</h1>
Configure the rotation of your boards based on the board state (<a href="https://github.com/riffnshred/nhl-led-scoreboard/tree/dev#states-1" target="_blank">Learn more</a>)
{% endblock %}

{% block content %}
<form method="POST" id="board_form">

	<div class="container-fluid">
		<!-- Main row -->
		<div class="row">
			<!-- Left col -->
			<section class="col-lg-6 connectedSortable">

{{ board_org(data, "Off Day", "off_day") }}

{{ board_org(data,"Scheduled", "scheduled") }}

			</section>
			<!-- /.Left col -->
			<!-- right col (We are only adding the ID to make the widgets sortable)-->
			<section class="col-lg-6 connectedSortable">

{{ board_org(data,"Intermission", "intermission") }}

{{ board_org(data,"Post-Game", "post_game") }}

			</section>
	<!-- right col -->
<!--	</div>-->
	<!-- /.row (main row) -->
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="submit" class="btn btn-info">Save & Apply</button>
</div><!-- /.container-fluid -->
</form>

{% endblock %}

{% block footer %}
<script>
$(document).on('click', '.up-button', function(){
$(this).parents('.leg').insertBefore($(this).parents('.leg').prev());
});

$(document).on('click', '.down-button', function(){
$(this).parents('.leg').insertAfter($(this).parents('.leg').next());
});

$(document).on('click', '.remove-button', function(){
$(this).parents('.leg').remove();
});

</script>
{% endblock %}
