{% extends "base.html" %}

{% block header %}
            <h1 class="m-0">Board Configuration</h1>
Configure the details of your boards (<a href="https://github.com/riffnshred/nhl-led-scoreboard/tree/dev#states-1" target="_blank">Learn more</a>)
{% endblock %}



{% block content %}

<div class="container-fluid">
<!-- Main row -->
<div class="row">
<!-- Left col -->
<section class="col-lg-6 connectedSortable">

<div class="card">
             
<div class="card-header">
                
<h3 class="card-title">Scoreticker</h3>
              
</div>
              
<!-- /.card-header -->
              
<div class="card-body">

<dl class="row">

<dt class="col-sm-4">Preferred Teams Only</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Rotation Rate</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

              
</div>
              
<!-- /.card-body -->
            
</div>


<div class="card">
<div class="card-header">
<h3 class="card-title">Series Ticker</h3>
</div>
<!-- /.card-header -->
<div class="card-body">

<dl class="row">

<dt class="col-sm-4">Preferred Teams Only</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Rotation Rate</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

</div>
<!-- /.card-body -->
</div>

<div class="card">
<div class="card-header">
<h3 class="card-title">Standings</h3>
</div>
<!-- /.card-header -->
<div class="card-body">

<dl class="row">

<dt class="col-sm-4">Preferred Teams Only</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Standing Type</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Divisons</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Conference</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>
</div>
<!-- /.card-body -->
</div>


<div class="card">
<div class="card-header">
<h3 class="card-title">Clock</h3>
</div>
<!-- /.card-header -->
<div class="card-body">

<dl class="row">

<dt class="col-sm-4">Duration</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Hide Indicator</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

</div>
<!-- /.card-body -->
</div>


</section>
<!-- /.Left col -->
<!-- right col (We are only adding the ID to make the widgets sortable)-->
<section class="col-lg-6 connectedSortable">



<div class="card">
<div class="card-header">
<h3 class="card-title">Weather</h3>
</div>
<!-- /.card-header -->
<div class="card-body">

<dl class="row">

<dt class="col-sm-4">Enabled</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Units</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Duration</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Data Feed</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Alert Feed</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">OWM API Key</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Update Frequency</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Show Alerts</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Alert Title</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Scroll Alert</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Alert Duration</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>

<dt class="col-sm-4">Show On Clock</dt>
<dd class="col-sm-8">
<select class="form-control">
<option>option 1</option>
</select>
</dd>
</div>
<!-- /.card-body -->
</div>

</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->
<button type="submit" class="btn btn-primary">Save</button>
<button type="submit" class="btn btn-info">Save & Apply</button>
</div><!-- /.container-fluid -->

{% endblock %}
