{% extends "base.html" %}

{% block header %}
            <h1 class="m-0">Overview</h1>
            Welcome to the NHL Scoreboard Configurator!
{% endblock %}


{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-5 connectedSortable">

<div class="card">
              <div class="card-header">
                <h3 class="card-title">Control</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
<div class="row">
<form action="/" method="post">
<button type="submit" name="action" value="reload" class="btn bg-gradient-info btn-lg" onclick="javascript:return confirm('This will reload the board software. This process will take about 30 seconds.');">Reload</button>&nbsp;
<button type="submit" name="action" value="restart" class="btn bg-gradient-warning btn-lg" onclick="javascript:return confirm('This will restart the board. The board will be offline for 2-5 minutes.');">Restart</button>&nbsp;
<button type="submit" name="action" value="shutdown" class="btn bg-gradient-danger btn-lg" onclick="javascript:return confirm('This will shutdown the board. You will need to power cycle it to bring it online.');">Shutdown</button>&nbsp;
</form>
</div>
</div></div>

<div class="card">
              <div class="card-header">
                <h3 class="card-title">Statistics</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
<strong>Uptime</strong><br/>
<pre>{{ statUptime.stdout }}</pre>

<strong>Memory</strong><br/>
<pre>{{ statMem.stdout }}</pre>

<strong>Disk Space</strong><br/>
<pre>{{ statDisk.stdout }}</pre>

<strong>Network</strong><br/>
<pre>{{ statNet.stdout }}</pre>

</div></div>
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-7 connectedSortable">

            <!-- Map card -->
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">
                  <i class="fas fa-clipboard-list mr-1"></i>
                  Logs
                </h3>
                <!-- /.card-tools -->
              </div>
              <div class="card-body">
<!-- http://192.168.1.146:9001/tail.html?processname=scoreboard&limit=2500 -->
<iframe src="http://{{ request.host.split(':')[0] }}:9001/tail.html?processname=nhl-led-scoreboard&limit=2500" width="100%" height="650px" frameBorder="0"></iframe>
              </div>
              <!-- /.card-body-->
            </div>
            <!-- /.card -->

          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->



{% endblock %}
